# Ignoriere generierte Dateien von PlatformIO
.pio/
.vscode/
*.elf
*.hex
*.bin
*.map
*.dSYM/
*.pem
*.DS_Store
# Ignoriere doxygen
/build/
# Ignoriere Symlink zur SharedLib
lib/SharedLib/
secret.h
cert.all